
@font-face {
  font-family: 'KillTheLights';
  src: url('KillTheLights.eot?#iefix') format('embedded-opentype'),  url('KillTheLights.woff') format('woff'), url('KillTheLights.ttf')  format('truetype'), url('KillTheLights.svg#KillTheLights') format('svg');
  font-weight: normal;
  font-style: normal;
}
